body{
    background-color: rgb(80, 82, 83);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
    font-family: Poppins;
}

header{
    background-color: cornflowerblue;
    width: 100%;
    font-family: Poppins;
}

#new-book{
    border-radius: 50%;
    position: relative;
    left: 500px;
    top: -10px;
    background: rgb(243, 87, 121);
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
}

#pop-up{
    color: white;
    font-family: poppins;
    border:white;
    background: rgb(133, 132, 132);
    border-radius: 3%;
}